/* Navbar */
#navbarSearch {
	width: 35%;
}

#searchIcon {
	left: 10px;
	color: var(--gray-100);
}

#navbarSearchInput {
	padding-left: 2rem;
	border: 1px solid var(--stroke-200);
	background: var(--gray-200);
	color: var(--gray-100);
}

#navbarSearchInput:hover {
	border: 1px solid var(--stroke-100);
}

#navbarSearchInput:active,
#navbarSearchInput:focus {
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #fff;
}

#navbarTag>.btn {
	color: var(--gray-light);
	background-color: var(--gray-200);
}

#navbarTag>.btn:hover {
	background-color: var(--gray-mid);
}

#navbarTag>.btn:active {
	background-color: var(--gray-50);
}

#navbarTag>.btn:focus {
	box-shadow: 0px 0px 0px 3px var(--state-focus), 0px 0px 0px 1px #000;
	;
}


#userTag {
	border-radius: 0.375rem;
	background: #36FBA1;
	color: rgba(0, 0, 0, 0.40);
	width: 1.75rem;
	height: 1.75rem;
}