body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}
/* *{
    font
} */

.navbar {
    background-color: #1C181D; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 30px; 
}

.desktop-logo {
    display: block; 
}

.mobile-logo {
    display: none; 
}

@media (max-width: 768px) {
    .desktop-logo {
        display: none; 
    }

    .mobile-logo {
        display: block; 
    }
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-menu-profile-image{
 margin-right: 10px;
    background-color: rgb(88, 219, 145);
    padding:10px;
    height: max-content;
    border-radius: 10px;
}
/* li{
 width:100%;
} */
.user-actions {
    display: flex;
    align-items: center;
    position: relative;
}
.user-menu-profile{
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 10px;
}

.notification-icon img {
    max-height: 20px; 
    margin-right: 10px;
    color: #E3E3E3;
    background-color: #322F33;
   
}
.notification-icon{
border-radius: 8px;
margin-right: 10px;
margin-left: 10px;
font-size: 12px;

/* padding: 5px; */
    background-color: #322F33;
   
}

.user-name {
    /* font-weight: bold; */
    color:#E3E3E3;
    padding: 10px;
}




.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.notification-dropdown.show {
    display: block;
}

.user-profile {
    position: relative;
    background-color: #322F33;
    border-radius: 8px;
    cursor: pointer;
}
.user-menu-name{
    padding: 10px;
}
.user-menu {
    
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    width: max-content;
}


.user-menu.show {
    display: block;
}

.user-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-menu-item {
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;

    /* border-bottom: 1px solid #ccc; */
    color: #475467;
    transition: background-color 0.3s;

}
.user-menu-item:hover {
    background-color: #f7F7F7
}
.allstores{
    display: inline-flex;
}
.profile-image {
    background-color: rgb(88, 219, 145);
    padding:10px;
    border-radius: 7px;
}
.tick-icon {
    color: #88DB91;
    font-size: 18px;
    margin-left: 10px;
}
@media only screen and (max-width: 500px) {
    .navbar {
        background-color: #1C181D; 
        padding: 10px;
    }

    .logo img {
        max-height: 25px;
    }

    .user-name {
        display: none;
    }

    .profile-image {
        font-size: 20px;
    }
}
.profile-img{
    display:none;
    position:relative
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px 30px 8px 40px; 
    color: #E3E3E3;
    border: 1px solid #000000/7%;
    border-radius: 10px;
    background-color: #322F33; 
    width: 100%;
}

.search-bar input{
    border-radius: 10px;

    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.search-icon svg {
    max-width: 20px; 
}

.user-menu-item img {
    max-width: 20px;
    margin-right: 10px;
}

 

.user-email {
    font-size: 12px;
    color: #888888;
}

.user-actions.user-profile.open-menu {
    background-color: #616161; 

}
.user-actions.user-profile.close-menu{
    background-color: #322F33;

}

.user-actions.user-profile {
    
    transition: background-color 0.3s;
}

.allstores:hover {
    background-color: #f2f2f2; 
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    justify-content:space-around;
   
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;

    border-radius: 10px;
    background-color: #1C181D;
    color: #E3E3E3;
  
}

.dashboard-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}



@media only screen and (min-width: 768px) {
    .trial-info {
        display: inline-flex;
         justify-content: space-between;
    
        width: 90%;
    }
}
.trial-info.hidden {
    display: none;
}

.trial-info p {
    font-size: 14px;
    color: #E3E3E3;
    margin-right: 20px;
}
.dashboard-header.hidden{
    display: none;
}
.select-plan-button {
    background-color: #E3E3E3;
    color: #475467;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-icon-container {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .close-icon-container {
       display: block;
    }
}
@media only screen and (min-width: 768px) {
    .close-icon-container {
        margin-left: auto;
        padding: 0 20px;
    }
}



.setup-guide-section {
  
    padding: 5px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
width: auto;
    border-radius: 10px;
    background-color:#FFFFFF;
    color: #1C181D ;
}
.setup-guide-section {
    /* width: 100%; */
    /* height: 503px; */
    /* top: 88px; */
    left: 320px;
    gap: 16px;
}

.setup-guide-header {
    display: block;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #ccc; */
overflow: hidden;
    padding-bottom: 0px;
    /* margin-bottom: 10px; */
    height: min-content;
}

.setup-name {
    display: flex;
    align-items: center;
}
.setup-guide-header p{
    font-size: 12px;
}

h5{
    margin-left: 10px;
}

.stages-list li p{
    font-size: 12px;
    /* margin-left: 10px; */
}
.setup-name p {
    font-weight: bold;
    margin-right: 10px;
}

.header-icon {
    fill: #616161;
}
.progress{
    display: inline-flex;
    width: 100%;
}

.progress-bar {
    width: 50%; 
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-top: 10px; 
    margin-left: 10px;
    overflow: hidden;
}

.progress-indicator {
    padding: 10px;
    height: 100%;
    width: 0.5%;
    background-color: #1C181D; 
    transition: width 0.3s ease; 
}

.progress-rate{
    width:50%;
}
.stages-list {
    display: block;
    transition:0.4;
}
.stages-list {
    list-style: none;
    padding: 0;

}

.stages-list li {
    /* display: flex; */
    align-items: center;
    margin-bottom: 10px;
}

.stages-list img {
    margin-right: 10px;
}



.stages-list.hidden {
    display: none;
}

.reduce-size {
    transform: scale(0.9);
  }

  /* handling the cards under the various stages */
  /* .stages-list {
    list-style: none;
    padding: 0;
} */

.stages-list li {
    /* margin-bottom: 5px; */
    cursor: pointer;
}
.stages-list li.active {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #F7F7F7; 
}
.card {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}

.card-content {
    /* flex: 1; */
    display: none;
    position: relative;
    /* padding-top: 20px; */
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    width: 100%;
padding-right: 50px;
    /* box-sizing: border-box; */
}
.card-prt1{
   width: 80%;
}
.card-btn-1{
    /* box-shadow: #1C181D;
    border: 2px solid #000000; */
}
.card-btn-1:hover{

    background-color: #1C181D;
}
.card-image {
    flex: 0 0 20%;
    max-width: 20%;
    position: absolute; bottom: 0; right: 0; margin-right:50px; margin-bottom:-20px;
}
@media only screen and (max-width: 768px) {
    .card-image{
        display: none;
    }
}

.card img {
    width: 100%;
    height: auto;
}
.learnmore-url{
    color:#005BD3;
    text-decoration: none;
}

.card button {
    margin-top: 10px;
    padding: 10px;
    background-color:#616161;
    color: white;
    border: 2px solid #1C181D;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.list-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: -20px;
}

.loading-svg,
.tick-svg {
    display: none;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading-svg {
    animation: rotate 1s linear infinite;
}



