@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--font-family: 'Inter', sans-serif;

	--gray-50: #656266;
	--gray-100: #B5B5B5;
	/* --gray-200: #616161; */
	--gray-200: #303030;
	--gray-300: #322F33;
	--gray-500: #1C181D;

	--gray-light: #e3e3e3;
	--gray-mid: #616161;
	--gray-dark: #475467;

	--stroke-50: #EBEBEB;
	--stroke-100: #E1E1E1;
	--stroke-200: #616161;

	--state-hover: #F7F7F7;
	--state-active: #F0F0F0;
	--state-focus: #005BD3;

	--bg-white: #FFFFFF;
	--bg-grey: #F1F1F1;

	--font-dark: #303030;

	--font-size-12: 0.75rem;
	--font-size-13: 0.8125rem;
	--font-size-14: 0.875rem;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size-13);
	background-color: var(--bg-grey);
	color: #303030;
	margin: 0;
	padding: 0;
}

svg {
	width: 1em;
	height: 1em;
	font-size: 1.5rem;
}

/* Typography */
.fs-12 {
	font-size: var(--font-size-12);
}

.fs-13 {
	font-size: var(--font-size-13);
}

.fs-14 {
	font-size: var(--font-size-14);
}

.fw-600 {
	font-weight: 600;
}

.text-light {
	color: #e3e3e3;
}

.text-dark {
	color: #303030;
}

.text-secondary {
	color: var(--gray-mid);
}

/* Layout */
.d-flex {
	display: flex !important;
}

.d-none {
	display: none !important;
}

@media (min-width: 576px) {
	.d-sm-none {
		display: none !important;
	}

	.d-sm-block {
		display: block !important;
	}
}

.jc-space-between {
	justify-content: space-between;
}

.jc-center {
	justify-content: center;
}

.jc-start {
	justify-content: start;
}

.jc-end {
	justify-content: end;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: start;
}

/* Positioning */
.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

/* Spacing */
.p-1 {
	padding: 0.125rem;
}

.pl-1 {
	padding-left: 0.125rem;
}

.pr-1 {
	padding-right: 0.125rem;
}

.pt-1 {
	padding-top: 0.125rem;
}

.pb-1 {
	padding-bottom: 0.125rem;
}

.px-1 {
	padding-right: 0.125rem;
	padding-left: 0.125rem;
}

.py-1 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.m-1 {
	margin: 0.125rem;
}

.ml-1 {
	margin-left: 0.125rem;
}

.mr-1 {
	margin-right: 0.125rem;
}

.mt-1 {
	margin-top: 0.125rem;
}

.mb-1 {
	margin-bottom: 0.125rem;
}

.mx-1 {
	margin-right: 0.125rem;
	margin-left: 0.125rem;
}

.my-1 {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

.p-2 {
	padding: 0.375rem;
}

.pl-2 {
	padding-left: 0.375rem;
}

.pr-2 {
	padding-right: 0.375rem;
}

.pt-2 {
	padding-top: 0.375rem;
}

.pb-2 {
	padding-bottom: 0.375rem;
}

.px-2 {
	padding-right: 0.375rem;
	padding-left: 0.375rem;
}

.py-2 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}

.m-2 {
	margin: 0.375rem;
}

.ml-2 {
	margin-left: 0.375rem;
}

.mr-2 {
	margin-right: 0.375rem;
}

.mt-2 {
	margin-top: 0.375rem;
}

.mb-2 {
	margin-bottom: 0.375rem;
}

.mx-2 {
	margin-right: 0.375rem;
	margin-left: 0.375rem;
}

.my-2 {
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
}

.p-3 {
	padding: 0.5rem;
}

.pl-3 {
	padding-left: 0.5rem;
}

.pr-3 {
	padding-right: 0.5rem;
}

.pt-3 {
	padding-top: 0.5rem;
}

.pb-3 {
	padding-bottom: 0.5rem;
}

.px-3 {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.py-3 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.m-3 {
	margin: 0.5rem;
}

.ml-3 {
	margin-left: 0.5rem;
}

.mr-3 {
	margin-right: 0.5rem;
}

.mt-3 {
	margin-top: 0.5rem;
}

.mb-3 {
	margin-bottom: 0.5rem;
}

.mx-3 {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.my-3 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.p-4 {
	padding: 0.75rem;
}

.pl-4 {
	padding-left: 0.75rem;
}

.pr-4 {
	padding-right: 0.75rem;
}

.pt-4 {
	padding-top: 0.75rem;
}

.pb-4 {
	padding-bottom: 0.75rem;
}

.px-4 {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.py-4 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.m-4 {
	margin: 0.75rem;
}

.ml-4 {
	margin-left: 0.75rem;
}

.mr-4 {
	margin-right: 0.75rem;
}

.mt-4 {
	margin-top: 0.75rem;
}

.mb-4 {
	margin-bottom: 0.75rem;
}

.mx-4 {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

.my-4 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.p-5 {
	padding: 1rem;
}

.pl-5 {
	padding-left: 1rem;
}

.pr-5 {
	padding-right: 1rem;
}

.pt-5 {
	padding-top: 1rem;
}

.pb-5 {
	padding-bottom: 1rem;
}

.px-5 {
	padding-right: 1rem;
	padding-left: 1rem;
}

.py-5 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.m-5 {
	margin: 1rem;
}

.ml-5 {
	margin-left: 1rem;
}

.mr-5 {
	margin-right: 1rem;
}

.mt-5 {
	margin-top: 1rem;
}

.mb-5 {
	margin-bottom: 1rem;
}

.mx-5 {
	margin-right: 1rem;
	margin-left: 1rem;
}

.my-5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Borders */
.br-xs {
	border-radius: 0.375rem;
}

.br-sm {
	border-radius: 0.5rem;
}

.br-md {
	border-radius: 0.625rem
}

.br-lg {
	border-radius: 1.125rem;
}

.border-50 {
	border-color: var(--stroke-50);
}

.border-200 {
	border-color: var(--stroke-200);
}

.border-300 {
	border-color: var(--stroke-300);
}

/* Colors */
.bg-light {
	background-color: #F3F3F3;
}

.bg-dark {
	background-color: #1A1A1A;
}

.text-primary {
	color: var(--gray-mid);
}


/* Transition */
.ease-2 {
	transition: all .25s ease;
}

.ease-3 {
	transition: all .3s ease;
}

.ease-in-2 {
	transition: all .25s ease-in;
}

.ease-in-3 {
	transition: all .3s ease-in;
}

/* Buttons */

.btn {
	cursor: pointer;
	font-family: var(--font-family);
	transition: all .25s ease-in;
	background-color: var(--btn-bg);
	border-radius: 0.375rem;
	border: var(--btn-border);
	color: var(--btn-color);
	font-size: var(--font-size-12);
	font-weight: 500;
	box-shadow: var(--btn-shadow);
}

.btn:hover {
	background-color: var(--btn-bg-hover);
	box-shadow: var(--btn-shadow-hover);
}

.btn:focus {
	background-color: var(--btn-bg-focus);
	box-shadow: var(--btn-shadow-focus);
}

.btn:active {
	background-color: var(--btn-bg-active);
	box-shadow: var(--btn-shadow-active);
}

.btn-dark {
	--btn-bg: #404040;
	--btn-bg-hover: #2A2A2A;
	--btn-bg-active: #2B2B2B;
	--btn-bg-focus: #404040;

	--btn-border: 1.5px solid rgba(255, 255, 255, 0.20);
	--btn-color: #F6F3F6;
	--btn-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
	--btn-shadow-hover: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
	--btn-shadow-active: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
	--btn-shadow-focus: 0px 0px 0px 5px var(--state-focus), 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

.btn-default {
	--btn-bg: #fff;
	--btn-bg-hover: #fff;
	--btn-bg-active: #fff;
	--btn-bg-focus: #fff;

	--btn-border: 1px solid rgba(0, 0, 0, 0.10);
	--btn-color: #323232;
	--btn-shadow: 0px -2px 0px 0px #B5B5B5 inset;
	--btn-shadow-hover: 0px -2px 0px 0px #B5B5B5 inset;
	--btn-shadow-active: 0px 2px 1.5px 0px #E2E2E2 inset;
	--btn-shadow-focus: 0px 0px 0px 3px var(--state-focus), 0px 0px 0px 1px #FFF, 0px -2px 0px 0px #B5B5B5 inset;
}

.btn-light {
	--btn-bg: #fff;
	--btn-bg-hover: #E7E7E7;
	--btn-bg-active: #E0E0E0;
	--btn-bg-focus: #fff;
	--btn-border: 1px solid transparent;
	--btn-color: #323232;
	--btn-shadow: 0px 0px 0px 0px transparent inset;
	--btn-shadow-hover: initial;
	--btn-shadow-active: initial;
	--btn-shadow-focus: 0px 0px 0px 3px var(--state-focus);
}

/* Form */
.form-control {
	display: block;
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.1375rem;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all .25s ease-in;
	outline: none;
}

a {
	text-decoration: none;
	color: var(--state-focus);
	font-weight: 500;
}

/* Navbar */
#navbarSearch {
	width: 35%;
}

#searchIcon {
	left: 10px;
	color: var(--gray-100);
	font-size: 1rem;
}

#navbarSearchInput {
	padding-left: 2rem;
	border: 1px solid var(--stroke-200);
	background: var(--gray-200);
	color: var(--gray-100);
}

#navbarSearchInput:hover {
	border: 1px solid var(--stroke-100);
}

#navbarSearchInput:active,
#navbarSearchInput:focus {
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #fff;
}

#navbarTag>.btn {
	color: var(--gray-light);
	background-color: var(--gray-200);
}

#navbarTag>.btn:hover {
	background-color: var(--gray-mid);
}

#navbarTag>.btn:active {
	background-color: var(--gray-50);
}

#navbarTag>.btn:focus {
	box-shadow: 0px 0px 0px 3px var(--state-focus), 0px 0px 0px 1px #000;
	;
}

#userTag {
	border-radius: 0.375rem;
	background: #36FBA1;
	color: rgba(0, 0, 0, 0.40);
	width: 1.75rem;
	height: 1.75rem;
}

#container {
	width: 100%;
	padding-top: 2rem;
}

@media (min-width: 576px) {
	#container {
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
}

.card {
	border: 1px solid #DBDBDB;
	background: #fff;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

#progress {
	width: 6rem;
	height: auto;
	font-size: inherit;
	border-radius: 1.75rem;
}

.accordion-item.show {
	background-color: #F3F3F3;
	align-items: start;
}

.accordion-item-content,
.accordion-item-image {
	/* display: none; */
	height: 0px;
	overflow: hidden;
	opacity: 0;
}

.accordion-item.show .accordion-item-content,
.accordion-item.show .accordion-item-image {
	/* display: block; */
	height: 100%;
	opacity: 1;
}

.accordion-item {
	align-items: center;
}

.accordion-item-body {
	flex: 1 1 auto !important;
}

.accordion-item-body .accordion-item-image {
	background: linear-gradient(180deg, #FFF 0%, #FFF 82.75%, rgba(255, 255, 255, 0.00) 88.86%);
}